*{
    margin: 0;
    padding: 0;

}
.inline{
    background-color: aqua;
    width: 400px;
    height:300px;
    display: inline;
}
.block{
    background-color: rgb(139, 56, 194);
    width: 400px;
    height:300px;
    display: block;
    font-size: 50px;
}
.inline-block{
    background-color: rgb(132, 84, 123);
    width: 400px;
    height:300px;
    display: inline-block;
    font-size: 50px;
}
.none{
    display:none;
}