*{
    margin: 0;
    padding: 0;
}
.school{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background: linear-gradient(135deg, #6bc6c9 0%, #764ba2 100%);
    height:90vh;
    width:70vh;
    border-radius: 20px;
}
form h1{
    text-align: center;
    margin-top:20px ;
}
.label{
    margin-left: 20px;
}
.full{
    margin-left: 20px;
    margin-top: 10px;
    width: 90%;
    height: 30px;
    border-radius: 5px;
}
.half{
    margin-left: 20px;
    margin-top: 10px;
    width: 42.5%;
    height: 30px;
    border-radius: 5px;
}
.button{
    margin:20px 42.5%;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: blue;
    border: none;
    font-size: 16px;
    color: azure;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(84, 181, 174);
}